PORT=5000
MONGO_URI=mongodb+srv://henil3764_db_user:ymnYuhG30CR7EVpN@cluster0.fkgauo1.mongodb.net/shiftup
JWT_SECRET=shiftup_super_secret_jwt_key_2025
JWT_EXPIRE=7d
SESSION_SECRET=shiftup_session_secret_2025
NODE_ENV=development
FRONTEND_URL=http://localhost:3000


# ── Google OAuth ──────────────────────────────────────────────────────────
# Get from: https://console.cloud.google.com
GOOGLE_CLIENT_ID=864885409031-di17rf0nger8cb6u0n5eea4q4u3cbacf.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_CALLBACK_URL=http://localhost:5000/api/auth/google/callback

# ── Stripe Subscription ───────────────────────────────────────────────────
# Get from: https://dashboard.stripe.com/apikeys
STRIPE_SECRET_KEY=sk_test_51THoHnRpyU2rhUpUOkPD4RuASiAusUq0IWS8oOyOqx0lU4h01MNon0kg1l7JJgmaIXK16QfWWboreepKn6XuLmpV00CqWPKd3k
STRIPE_WEBHOOK_SECRET=whsec_kFslEnBhgSUlLpPGK0JJzawvuY0dY0DS
STRIPE_PRICE_ID=price_1TICUQRpyU2rhUpUG7OhE2DM